.body{
    background-color: lightcyan;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.card{
    box-shadow: 0 20px 30px slategrey;
}

.h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.select{
    background-color: rgba(53, 53, 216, 0.427);
    box-sizing: border-box;
    color: white;
}

.check{
    border-color: blue;

}
label{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: darkblue;
}